@model BloomBox.Models.AdresaDostave

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>AdresaDostave</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="grad" class="control-label"></label>
                <input asp-for="grad" class="form-control" />
                <span asp-validation-for="grad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="adresa" class="control-label"></label>
                <input asp-for="adresa" class="form-control" />
                <span asp-validation-for="adresa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="postanskiBroj" class="control-label"></label>
                <input asp-for="postanskiBroj" class="form-control" />
                <span asp-validation-for="postanskiBroj" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
